.main-content,
.container {
  margin: 0 auto;
  padding: 0;
}
h3 {
  padding: 0;
  margin: 0;
}
/* Typography */
.extra-large-content {
  font-weight: 800;
  font-size: 2.5em;
}
.main-content h3 {
  text-align: center;
}
.secondary-content {
  font-size: 0.75em;
}
.icon-holder {
  font-size: 2em;
}

/* Actions */
.icon-button {
  cursor: pointer;
}
/* .icon-button:hover,
.icon-button:focus{
    background: black;
    color: white;
} */
/* Layout */

.main-content h3,
.extra-large-content {
  margin: 0 auto;
  text-align: center;
}
.container {
  width: 90%;
}
.main-content {
  margin: 2em 0;
}
.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.secondary-content {
  align-items: center;
}
@media (min-width: 675px) {
  .secondary-content {
    justify-content: space-around;
    margin: 0 auto;
  }
  .second-item, .third-item {
    padding: 0 9em;
  }
  .landing-action-content {
    width: 35%;
  }
}

.third-item {
    justify-content: space-between;
}
.lottie-dog,
.lottie-cat,
.lottie-lady {
  padding: 0;
  margin: 0;
}
.lottie-dog {
  height: 25.5em;
}
.lottie-cat {
  height: 18.5em;
}
.lottie-lady {
  padding: 1em;
}
.lottie-bird {
  margin: 0;
  height: 10.5em;
}
.landing-action-content {
  flex-direction: column;
}
.icon-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 0;
}
.lottie-heart {
  z-index: -1;
}
.lottie-heart-right {
  transform: rotate(90deg);
}
.lottie-heart-left {
  transform: rotate(-90deg);
}
@media (min-width: 675px) {
  .icon-holder {
    padding: 1em 0;
    justify-content: flex-end;
  }
}
