  /* Typography */
  .question-error{
      text-decoration: underline;
  }


  .question {
    font-size: 1.35rem;
    font-weight: 700;
    padding: 0.5em 0;
  }
  
  /* Layout */
  .question-container {
    padding: 1em 0;
  }
  .option-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .flex{
      display: flex;
      justify-content: center;
  }
  /* Action area */
  .option-default {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }
  /* @media (min-width: 675px) {
      .option-container{
          max-width: 55%;
      }
      .option-container {
          margin: 0 auto;
      }
  } */
  .answer{
    background: #0c0c0c;
    color: white;
  }
  .option:hover,
  .option:focus{
      background: #0c0c0c;
      color: white;
      border-radius: 10px;
  }