.navbar {
  padding: 0.25em;
  background: #0c0c0c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
li,
ul {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
/* typography */
.main-title {
  font-weight: 800;
  font-size: 2em;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Layout */
.main-title {
  margin: 0.5em 0.55em;
}
.navbar-container {
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}
.flex {
  display: flex;
  justify-content: center;
}
.main-title-container {
  align-items: center;
}
.menu-items {
  margin: 0.5em auto;
}

@media (min-width: 675px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-items {
    margin: auto 0;
  }
  .extra-large-content {
    width: 50%;
  }

  .action-content h3 {
    width: 55%;
  }
}
