.form-container {
  min-height: 90vh;
  user-select: none;
}
h1 {
  padding: 0;
  margin: 0;
}
/* Typography */

/* Layout */
.form-main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-status {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 24px;
    padding: 0.35em;
}
/* Action area */
.navigator{
    padding: 1em 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid lightgray;
}
.icon-button{
    cursor: pointer;
    padding: 0.15em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.icon-button:hover,
.icon-button:focus{
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
}
.icon-disabled{
    opacity: 0.5;
}
.icon-disabled:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}