.footer{
    background: #0c0c0c;
    font-size: 0.5em;
    width: 100%;
}
/* @media (min-width: 675px) {
    .footer {
        position: absolute;
        bottom: 0;
    }
} */
/* Typography */

p{
    color: white;
}

.copyright{
    text-align: center;
}
/* Layout */

.container{
    bottom: 0;
}
.copyright{
}